html,body{
    height: 100%;
    background-color: #f5f5f5;
}
.top{
    width: 90%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.36rem;
    text-align: left;
    background: #e73d4d;
    color: #fff;
    padding-left: 10%;
}
.top span{
    position: absolute;
    left:0.6rem;
    top:0.01rem;
    display: block;
}
.top span:before{
    content: "";
    width: 0.22rem;
    height: 0.22rem;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left:-0.2rem;
    top:0.35rem;
}
.content{
  padding-bottom: 1.3rem;
}
.main{
    width: 90%;
    margin: 0 auto;
}
.logoImg{
    text-align: center;
    font-size: .32rem;
    margin: .65rem 0;
}

/*home*/
.products li{
    background-color: #fff;
    margin-bottom: .3rem;
    min-height: 4rem;
}
.products li dl{
    padding: .6rem .3rem .2rem;
    overflow: hidden;
}
.products dl dt{
    float: left;
    width: 40%
}
.products dl dd{
    width: 60%;
    float: left;
}
.products dl dt img{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
.products dl dd .titleH{
    font-size: .32rem;
    color: #000;
    margin-bottom: .3rem;
}
.products dl dd .priceP{
    color: #e73d4d;
    font-size: .4rem;
    margin-bottom: .3rem;
}
.products dl dd .priceP i{
    font-size: .28rem;
}
.btnBuy {
    width: 3rem;
    height: .72rem;
    line-height: .72rem;
    text-align: center;
    display: block;
    background-color: #e73d4d;
    color: #fff;
    font-size: .28rem;
}
/*login*/
.loginMain{
 font-size: .28rem;
}
.loginMain ul li{
    margin-top: .2rem;
    position: relative;
}
.loginMain ul li input{
    height: .94rem;
    width: 96%;
    line-height: .94rem;
    border: 1px  solid #dfdfdf;
    padding-left: .28rem;

}
.loginMain ul li span {
    display: none;
    color: #e73d4d;
    position: absolute;
    top: -9px;
    left: 20px;
}
.btnGroup{
    margin: .3rem 0;
}
.btnGroup .btnLogin{
    width:100%;
    height: .96rem;
    line-height: .96rem;
    display: inline-block;
    background-color: #e73d4d;
    color: #fff;
    text-align: center;
    font-size: .28rem;
}
.loginExtra{
    overflow: hidden;
}
.checkChange {
    width: 17px;
    height: 17px;
    display: inline-block;
    background: url("../images/ico/icoBox.png") no-repeat;
    background-position: -18px -1px;
    float: left;
    cursor: pointer;
    margin-left: -17px;
}
.checked {
    background-position: 0px -1px;
}
.loginExtra input {
    width: 17px;
    height: 17px;
    display: inline-block;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    float: left;
    position: relative;
    z-index: -9999;
}
.loginExtra label {
    float: left;
}
.loginExtra a, .loginExtra label {
    color: #666;
    padding: 0 5px;
    height: .3rem;
    line-height: .3rem;
    display: inline-block;
}
.otherLogin{
    text-align: center;
    margin:40px 0 0;
    border-top: 1px solid #dfdfdf;
}
.otherLogin span{
    width: 2rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -8px;
    z-index: 999;
    color: #666;
    background-color: #f5f5f5;
}
.otherLogin p a{
    display: inline-block;
    width: 51px;
    height: 51px;
    background: url("../images/ico/icoBox.png") no-repeat;
    margin-right: 30px;
    margin-top: 30px;
}
.otherLogin p a.sinA{
    background-position: -54px -23px;
}
.otherLogin p a.QQ{
    background-position: -108px -23px;
}
.otherLogin p a.weiXin{
    background-position: 0px -23px;
}
.registerOther{
    display: flex;
    justify-content:center;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    margin: .3rem 0;
    height: .3rem;
    line-height: .3rem;
    color:#666;
}
.registerOther a{
    color: #666;
    font-size: .28rem;
}
.registerOther i.line{
    font-style: normal;
    padding: 0 .2rem;
}
.inputIn li input.inTextM {
    width: 50%;
}
.mobileMess{
    display: inline-block;
    width: 43%;
    margin-left: 1%;
    float: right;
}
.mobileMess a{
    display: inline-block;
    width: 100%;
    height: .92rem;
    border: 1px solid #e73d4d;
    background-color: #fffae5;
    color: #e73d4d;
    font-size: .16rem;
    text-align: center;
    line-height:.92rem;;
}
.mobileMess  img{
    width: 100%;
    height: .94rem;
}
.mobMess{
    float: right;
    position: absolute;
    right: 0;
    top: 0.2rem;
}
.mobMess a{
    display: block;
    width: 2rem;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    background-color: #e73d4d;
    border-radius: .3rem;
    color: #fff;
    font-size: .24rem;
}
.loginExtra a{
    color: #e73d4d;
}
/*payBy*/
.payTop{
    margin: .3rem 0;
}
.payTop p{
    font-size: .32rem;
    margin-bottom: .2rem;
}
.payTop ul{
    overflow: hidden;
}
.payTop ul li{
    width: 2.7rem;
    height: .86rem;
    border: 1px solid #ccc;
    float: left;
    margin-right: .25rem;
    margin-bottom: .25rem;
}
.payTop ul li:nth-child(2n){
    margin-right: 0;
}
/*address*/
.addressBo,.card,.goodsList{
    background-color: #fff;
    margin: 0 auto;
    padding: 5%;
    margin-bottom: .3rem;
}
.addressBo ul{
    display: flex;
    justify-content:space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    font-size: .24rem;
}
.addressBo ul li{
    position: relative;
    font-size: .28rem;
    color: #666;
}
.addressBo ul li:nth-child(1){
    width: 70%;
    float: left;
}
.addressBo ul li:nth-child(2){
    width: 30%;
    float: left;
}
.sendBy ul li:nth-child(1){
    width: 30%;
    float: left;
}
.sendBy ul li:nth-child(2){
    width: 60%;
    text-align: right;
    padding-right: 10%;
    float: left;
}
.addressBo p{
    line-height: .48rem;
}
.addressBo ul li span{
    display: block;
}
.addAdd i:nth-child(1){
    width: .34rem;
    height: .34rem;
    line-height: .34rem;
    border: 1px solid #666;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    margin-right: .1rem;
    font-size: .28rem;
}
.addressBo ul li b{
    font-size: .32rem;
    color: #000;
}
.addressBo ul li span:before{
    content: "";
    width: 0.24rem;
    height: 0.24rem;
    border-bottom:2px solid #ccc;
    border-right:2px solid #ccc;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right:0.2rem;
    top: 50%;
    margin-top: -0.12rem;
}
.noMar{
    margin: 0;
}
.card{
    margin-bottom: 0;
}
.card span{
    font-size: .28rem;
    display: block;
    width: 1.78rem;
    height: .78rem;
    line-height: .78rem;
    text-align: center;
    border: 1px solid #ccc;
    float: left;
    margin-right: .1rem;
}
.card .cardBox{
    margin: .2rem 0;
}
.card .cardBox p.carT{
    display: flex;
    justify-content:space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
h3{
    font-size: .28rem;
    color: #666;
}
.card .cardBox span.selected{
    border: 1px solid #e73d4d;
    color: #e73d4d;
}
.carExtr{
    height: .6rem;
    display: none;
}
.carExtr input{
    width: 94%;
    height: .6rem;
    line-height: .6rem;
    padding-left: 5%;
    border: 1px solid #ccc;
    vertical-align: top;
    margin-top: .2rem;
}
.carExtr input:focus{
    border: 1px solid #e73d4d;
}
.borBtoom{
    border-bottom: 1px solid #eee;
}
.Discount{
    display: block;
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.Discount input{
    width: 60%;
}
.Discount .button{
    width: 1.5rem;
    height: .64rem;
    line-height: .64rem;
    border: 1px solid #ccc;
    margin-top: .2rem;
    text-align: center;
    background-color: #fff;
    padding: 0;
    color: #666;
}
.goodsList{
    display: flex;
    justify-content: space-between;
    font-size: .24rem;
    margin: .3rem 0 0;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.goodsList h3{
    font-size: .24rem;
}
.goodsList img{
    width:100%;
    height: .7rem;
    display: block;
}
.goodsList div:nth-child(1){
    width: 15%;
}
.goodsList div:nth-child(2){
    width: 70%;
}
.goodsList div:nth-child(3){
    width: 15%;
}
.colorOr{
    color: #e73d4d;
}
.goodsInfo ul{
    font-size: .28rem;
    color: #666;
}
/*pay*/
.pay{
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: 0.36rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #e73d4d;
    border-top: 1px solid #dfdfdf;
}
.pay a{
    width: 50%;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    font-size: .36rem;
    display: block;
    color: #fff;
}
.pay a:nth-child(1){
    background-color: #fff;
    color: #e73d4d;
}
/*修改地址*/
.modifyAd{
    margin: .3rem 0 .3rem;
    background-color: #fff;
}
.modifyAd li{
    height: .8rem;
    line-height: .8rem;
    border-bottom: 1px solid #ccc;
    padding: .2rem;
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.modifyAd li label{
     font-size: .28rem;
     color: #999;
     width: 20%;
 }
.modifyAd li input{
    font-size: .28rem;
    color: #000;
    width:77%;
    padding-left: 3%;
    border: none;
}
.del a:nth-child(1){
    color: #999;
}
.saveAdd a:nth-child(1){
    width: 100%;
    background-color: #e73d4d;
    color: #fff;
}
.manageAd{
    background-color: #fff;
}
.manageAd li{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    border-bottom: 1px solid #eee;
    position: relative;
}
.manageAd .befTar{
    width: 10%;
    text-align: center;
    position: relative;
}
.manageAd .befTar span{
    width: .46rem;
    height: .46rem;
    line-height: .46rem;
    text-align: center;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: .36rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.23rem;
    margin-left: -.23rem;
}
.manageAd .selected span{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
}
.manageAd .addBox{
    width: 70%;
    font-size: .28rem;
}
.manageAd .addBox p{
    color: #666;
    line-height: .38rem;
}
.manageAd .addTarget{
    width: 15%;
}
.addTarget a{
    display: block;
    width: 100%;
    height: 1rem;
}
.addTarget span,.manageAd .befTar span{
    display: block;
}
.addTarget span:before {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 0.4rem;
    top: 50%;
    margin-top: -0.125rem;
}
.manageAd .befTar span:before {
    content: "";
    width: 0.22rem;
    height: 0.12rem;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    position: absolute;
    left: 0.08rem;
    top: 50%;
    margin-top: -0.15rem;
    transform:rotate(125deg);
    -webkit-transform: rotate(125deg);
}

/**/
/*order*/
.listInfo{
    padding: 5%;
    background-color: #fff;
    margin-bottom: .3rem;
}
.listInfo table{
    font-size: .28rem;
    color: #666;
}
.listInfo table b{
    color: #000;
}
.listInfo table tr{
    display: flex;
    justify-content: space-between;
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}
.listInfo table td{
    line-height: .42rem;
}
.listInfo table td:nth-child(1){
    width:25%;
    text-align: right;
    padding-right: 5%;
}
.listInfo table td:nth-child(2){
    width: 70%;
}
.gdList{
    background-color: #fff;
}
.gdList .listTitle{
    font-size: .28rem;
    color: #999;
    height: .6rem;
    line-height: .6rem;
    border-bottom: 1px solid  #dfdfdf;
    padding:2% 5%;
}
.gdListInfo{
    padding: 2% 5%;
}
.gdListInfo tr td{
    float: left;
    font-size: .28rem;
    padding: 2% 0 .3rem;
}
.gdListInfo tr td:nth-child(1){
    width: 20%;
}
.gdListInfo tr td:nth-child(2){
    padding:2% 2% .3rem 4%;
    width: 54%;
}
.gdListInfo tr td:nth-child(3){
    width: 20%;
}
.gdListInfo tr td:nth-child(3) a{
    display: block;
    width: 98%;
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    border: 1px solid #ccc;
    -webkit-border-radius: 2rem;
    border-radius: .2rem;
}
.gdListInfo tr td:nth-child(1) img{
    width: 96%;
    border: 1px solid #ccc;
    padding: 2%;
}
.gdListInfo h3 a{
    color: #000;
}
.payOrder{
    background-color: #fff;
}
.payOrder span{
    width: 44%;
    font-size: .32rem;
    color: #e73d4d;
    display: block;
    float: left;
    background-color: #fff;
    text-align: left;
    padding-left: 4%;
}
.payOrder a{
    font-size: .32rem;
    width: 27%;
    display: block;
    float: right;
    background-color: #e73d4d;
}
.payOrder a.cancel{
    background-color: #fff;
    color: #999;
}
.wuLiu a{
    background-color: #fff;
    color: #999;
    border: 1px solid #ccc;
    height: .6rem;
    line-height: .6rem;
    margin-top: .2rem;
    margin-right: .1rem;
    -webkit-border-radius: 2rem;
    border-radius: .2rem;
}
/*订单中心*/
.contentOrderC{
    bottom: 0;
}
.orderStateBox{
    background-color: #fff;
    margin-bottom: .3rem;
}
.orderState{
    padding: 2% 4%;
    overflow: hidden;
}
.orderState .orderStateL{
    font-size: .28rem;
    color: #666;
    float: left;
    line-height: .32rem;
    padding: 4% 0;
}
.orderState .orderStateR{
    font-size: .30rem;
    color: #e73d4d;
    float: right;
    line-height: .6rem;
}
.orderList{
    border: 1px solid #dfdfdf;
    border-left: 0;
    border-right: 0;
}
.orderBtnGroup{
    height: .64rem;
    overflow: hidden;
    padding:4%;
}
.orderBtnGroup a{
    display: block;
    float: right;
    width: 1.58rem;
    height: .64rem;
    line-height: .64rem;
    text-align: center;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 2rem;
    border-radius: .2rem;
    margin-left: .3rem;
    font-size: .28rem;
}
.orderBtnGroup a.payBtn{
    background-color: #e73d4d;
    border: 1px solid #e73d4d;
    color: #fff;
}

/*三级联动菜单*/
.cityBox{
    font-size: .28rem;
    color: #000;
    width: 77%;
    padding-left: 3%;
    border: none;
}
.diZhi{
    height: .5rem;
    line-height: .5rem;
    padding-left: .2rem;
    font-size: .28rem;
}
.lineDiZhi{
    display: block;
    height: .3rem;
    width: .1rem;
    background-color: #e73d4d;
    float: left;
}
.titleSpan{
    float: left;
    height: .3rem;
    line-height: .3rem;
    display: block;
    padding-left: .2rem;
}